/* app/globals.css */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
